In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('Walmart.csv')

In [33]:
import pymysql
import csv 
import mysql.connector

In [13]:
mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  password="12345678"

)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x11c187910>

In [27]:
from __future__ import print_function

localhost = "localhost"

yourusername = "root"

yourpassword = "12345678"

yourdbname = "walmart"

# engine = mysql.connector.connect( host=localhost, user=yourusername, passwd=yourpassword, db=yourdbname )



# myConnection.close()

In [28]:
csv_file_path = 'walmart.csv'
table_name = 'walmart_data'

In [34]:

# Connect to MySQL
connection = mysql.connector.connect(
   host=localhost, user=yourusername, passwd=yourpassword, db=yourdbname
)
if connection.is_connected():
    cursor = connection.cursor()
    # Drop table if it exists (optional, to start fresh)
    cursor.execute(f"DROP TABLE IF EXISTS {table_name}")
    # Create table from CSV file headers
    create_table_query = f"CREATE TABLE {table_name} ("
    with open(csv_file_path, 'r') as file:
        reader = csv.reader(file)
        headers = next(reader)  # Read the first line as headers
        for header in headers:
            create_table_query += f"{header} VARCHAR(255), "
        create_table_query = create_table_query[:-2] + ")"  # Remove last comma and space
    cursor.execute(create_table_query)
    # Insert data from CSV file
    with open(csv_file_path, 'r') as file:
        next(file)  # Skip header row
        csv_data = csv.reader(file)
        for row in csv_data:
            cursor.execute(f"INSERT INTO {table_name} ({', '.join(headers)}) VALUES ({', '.join(['%s'] * len(headers))})", row)
    connection.commit()
    print("CSV data imported into MySQL successfully")


# if connection.is_connected():
#     cursor.close()
#     connection.close()
#     print("MySQL connection is closed")

CSV data imported into MySQL successfully

In [43]:
query = "SELECT SUM(Weekly_Sales) FROM walmart_data;"
cursor.execute(query)
rows = cursor.fetchall()
print(rows)

[(6737218987.11001,)]

In [ ]:
query = "SELECT SUM(Weekly_Sales) FROM walmart_data;"
cursor.execute(query)
rows = cursor.fetchall()
print(rows)